.Footer{
    position: relative;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;

    background-color: #097981;
}

.Footer p{
    text-align: center;
}
